<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
	<string>2PC94S32ZB</string>
	<key>uploadBitcode</key>
	<true/>
	<key>compileBitcode</key>
	<true/>
	<key>uploadSymbols</key>
	<true/>
	<key>signingStyle</key>
	<string>Developer ID Installer</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>org.yahiro.AwesomeProject</key>
		<string>Client App Release</string>
		<key>org.yahiro.AwesomeProject.watchkitapp</key>
		<string>Client App WatchApp Release</string>
		<key>org.yahiro.AwesomeProject.watchkitapp.watchkitextension</key>
		<string>Client App WatchKitExtension Release</string>
		<key>org.yahiro.AwesomeProject.RemoteNotificationServiceExtension</key>
		<string>Client App PushExtension Release</string>
		<key>org.yahiro.AwesomeProject.Stickers</key>
		<string>Client App Stickers Release</string>
	</dict>
</dict>
</plist>